{% extends 'pesenin/base.html' %}

{% block navbar %}
{% with current_nav='home' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block main_container %}
{% with vertical_center=True %}
{{ block.super }}
{% endwith %}
{% endblock main_container %}


{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}

<body>
    <div>
        <div class="row">
            <div class="col-12">
                    <h1 class="display-3 text-center font-weight-bold m-auto">
                        {% if not user.is_authenticated %}
                        <a class="no-deco text-warning">Halo, Bang!</a>
                        {% else %}
                        <a class="no-deco text-warning">Halo, {{ nama }} </a>
                        {% endif %}
                    </h1>
            </div>
            <div class="col-12 text-center orderup mt-3 mb-3">
                <img src="../../static/img/Asset/order_up.png" alt="" style="width: 250px;height: 250px;">
            </div>
            <div class="col-12 text-center">
                <h3>Order your favourite food here!
                </h3>
                <div id="quotes">

                </div>
            </div>
            <div class="col-12 text-center">
                <div class="button">
                    <a href="{% url 'merchant:merchant' %}">Try it Now</a>
                </div>
            </div>
        </div>
    </div>

    <script>

    $(document).ready(function(){
        $.ajax({
            method: 'GET',
            url: "https://pesenin2.herokuapp.com/home/show_quotes/",
            data: {get_param: 'value'},
            dataType: 'json',
            success: function(result){
                var myVar;
                var random = Math.floor(Math.random() * 5)
                let quotesWord = $('#quotes');
                quotesWord.empty();
                quotesWord.append(
                    "<p>" + result[random].quotes + "</p>" 
                ); 
            },
        })
    })
    </script>

    
</body>
{% endblock content %}