{% extends 'pesenin/base.html' %}

{% block navbar %}
{% with current_nav='merchant' %}
{{ block.super }}
{% endwith %}
{% endblock navbar%}

{% block main_container %}
{% with vertical_center=True %}
{{ block.super }}
{% endwith %}
{% endblock main_container %}


{% load static %}
{% block custom_styles %}
{% endblock custom_styles %}
{% block content %}

<body>
    <div class="container ml-5">
        <h1 class="display-3 font-weight-bold m-auto">
            <p class="no-deco text-warning">Foods</p>
        </h1>
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex">
            <div class="input-group mb-3">
                <input type="text" id="search_makanan" class="form-control" placeholder="search.." aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" id="search_button_makanan" type="button">Search</button>
            </div>
        </div>
        <div class="row" id="makanan">
            {% for items in food %}
            <div class="text-center mt-3 mx-3" style="width: 250px;height: auto;">
                <a href="{% url 'merchant:detail' pk=items.id %}" id="image">
                    <img class="rounded-circle" src="{{ items.foto }}" style="width:200px;height: 200px;">
                </a>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'merchant:merchant' %}" class="btn btn-danger btn-lg active mt-5" role="button"
                aria-pressed="true">Back</a>
    </div>
</body>

{% endblock content %}